{% extends 'base.html' %}

{% block content %}

    <div class="container" >
        <div class="row">
            <div class="col-md-2" id="target">
              <img src="/static/logo.jpeg" width="75">
            </div>
            <div class="col-md-8"> FORM BIODATA WISUDAWAN <br> Universitas Muhammadiyah Maluku Utara</div>
            <div class="col-md-2 textbox">No.Form: </div>
        </div>
        <div class="row pt-5" >
          <div class="col-md-10" >
            
            <p> Nama Lengkap        : ....................................................</p> 
            <p>Tempat/tanggal lahir : ...............................................</p> 
            <p>NIK                  : ................................</p>
            <p>Pekerjaan            : .............................</p> 
            <p>Alamat Email         :.................................... </p> 
            <p>Nomor telepone       :..................................</p>
            <p>Alamat Orang tua     : .................................</p>
            <p>Asal SMU/D2/D3       : .....................................</p>
            <p>Fakultas/Prodi       : .......................................</p>
            <p>Judul Skripsi        : ............................................</p>

            <br><br><br><br>
            <p>IPK : ........................ Nilai Ujian Skripsi:.............</p> 
            <p>Lama studi di UMMU : .................  Semester</p>
            <p>Tanggal awal bimbingan Proposal : ................</p>
            <p>Tanggal ujian skripsi:   ..............</p>
            <p>Pembimbing 1 : ........</p>
            <p>Pembimbing 2 : ........</p>
            <p>Penguji 1 : ............</p>
            <p>Penguji 2 : ............   </p>
            <p>Peminatan : .............</p>
          </div>
          
          
        </div><br><br>
        <div class="row">
          <div class="col-sm-4"><h5>PETUGAS</h5><br><br><br>..........</div>
          <div class="col-sm-4 float-left">pas foto warna ukuran 4x6 </div>
          <div class="col-sm-4 float-left"><p>Ternate,..........</p> 
          <p>Hormat Saya,</p><br>.............
          <p>Nama Jelas dan tanda tangan</p>
          </div>
        </div>
    </div>
    <!-- <div class="container pt-5"><button id="generate" onclick="generatepdf()" class="btn btn-primary">Download formulir</button></div> -->


{% endblock %}



<!-- <script> -->
  // document.getElementById('generate').onclick(function(){
    // console.log('you have click me')
  // })

  
  
  
<!-- </script> -->
