{% extends 'base.html'%}

{% block content %}
    <div class="login-container">
        <h2>Login</h2>
        <form  method="post">
            <label for="npm">NPM</label>
            <input type="text" id="npm" name="npm" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
            <small>belum punya akun silahkan daftar  <a href="/registrasi-biodata">disini</a></small>
        </form>
    </div>
{% endblock %}
