{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                      <th scope="col">No</th>
                      <th scope="col">Bebas akademik</th>
                      <th scope="col">ijazah</th>
                      <th scope="col">Kartu klg</th>
                      <th scope="col">KTP</th>      
                      <th scope="col">Bebas Perpus</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <th scope="row">1</th>
                    <td><a href="/download-berkas-wisuda/{{nama.bebas_ak}}">{{nama.bebas_ak}}</a></td>
                    <td><a href="/download-berkas-wisuda/{{nama.ijazah}}">{{nama.ijazah}}</a></td>
                    <td><a href="/download-berkas-wisuda/{{nama.karker}}">{{nama.karker}}</a></td>
                    <td><a href="/download-berkas-wisuda/{{nama.ktp}}">{{nama.ktp}}</a></td>
                    <td><a href="/download-berkas-wisuda/{{nama.bbspus}}">{{nama.bbspus}}</a></td>
                  </tr>
                </tbody>
              </table>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">2</th>
                    <th scope="col">Sertifikat P2kk</th>
                    <th scope="col">Bebas Spp</th>
                    <th scope="col">Transkrip Nilai</th>
                    <th scope="col">Pasfoto</th>
                    <th scope="col">status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td><a href="/download-berkas-wisuda/{{nama.sfkpp}}">{{nama.sfkpp}}</a></td>
                    <td><a href="/download-berkas-wisuda/{{nama.bebaspp}}">{{nama.bebaspp}}</a></td>
                    <td><a href="/download-berkas-wisuda/{{nama.transnli}}"></a></td>
                    <td><img src="/static/pdf/{{nama.pasfoto}}" alt="{{nama.pasfoto}}" srcset="" height="50" width="40">
                    <a href="/download-berkas-wisuda/{{nama.pasfoto}}"><small>download</small></a></td>
                    <td><a href="/lolos-verifikasi/{{nama.mahasiswaId}}" class="btn btn-success"> Lolos verifikasi </a></td>
                  </tr>
                </tbody>
              </table>
              
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}